# Check out EditorConfig at: https://editorconfig.org

root=true

[*]
charset=utf-8
insert_final_newline=true
max_line_length=100
trim_trailing_whitespace=true

[Containerfile]
indent_style=tab

[Makefile]
indent_style=tab

[*.go]
indent_style=tab

[*.json]
indent_size=2
indent_style=space

[*.md]
indent_size=unset
indent_style=space

[*.txt]
indent_size=unset
indent_style=space
max_line_length=80

[*.txtar]
indent_size=unset
indent_style=unset

[*.yml]
indent_size=2
indent_style=space
