/*

# GitHub
!.github/
.github/**
!.github/workflows/
.github/workflows/**
!.github/workflows/audit.yml
!.github/workflows/check.yml
!.github/workflows/codeql.yml
!.github/workflows/publish.yml
!.github/workflows/semgrep.yml
!.github/dependabot.yml

# Config
!.editorconfig
!.gitattributes
!.gitignore

# Docs
!CONTRIBUTING.md
!README.md
!RELEASE.md
!RULES.md
!SECURITY.md

# Legal
!COPYING.txt
!DCO.txt

# Security
!capabilities.json

# Source
!Containerfile
!Containerfile.dev
!Makefile
!go.mod
!go.sum
!schema.json
!*.go

# Test
!test/
test/**
!test/*.txtar
