/*

# GitHub
!.github/
.github/**
!.github/workflows/
.github/workflows/**
!.github/workflows/audit.yml
!.github/workflows/check.yml
!.github/workflows/codeql.yml
!.github/workflows/publish.yml
!.github/workflows/semgrep.yml
!.github/workflows/website.yml
!.github/dependabot.yml

# Config
!.editorconfig
!.gitattributes
!.gitignore
!.wrapcheck.yml

# Docs
!CONTRIBUTING.md
!README.md
!RELEASE.md
!RULES.md
!SECURITY.md

# Legal
!COPYING.txt
!DCO.txt

# Security
!capabilities.json

# Source
!cmd/
cmd/**
!cmd/ades/
cmd/ades/**
!cmd/ades/*.go
!Containerfile
!Containerfile.dev
!go.mod
!go.sum
!schema.json
!*.go

# Test
!gremlins.min.js
!test/
test/**
!test/*.txtar

# Website
!web/
web/**
!web/ades.go
!web/index.css
!web/index.html
!web/index.js
