name: Audit
on:
  pull_request:
    paths:
    - .github/workflows/audit.yml
    - '*.go'
    - go.mod
    - go.sum
  push:
    branches:
    - main
  schedule:
  - cron: 0 2 * * *
  workflow_dispatch: ~

permissions: read-all

jobs:
  capabilities:
    name: Capabilities
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod
    - name: Verify action checksums
      uses: ./.github/actions/ghasum
    - name: Audit
      run: go run tasks.go audit-capabilities
  vulnerabilities:
    name: Vulnerabilities
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod
    - name: Verify action checksums
      uses: ./.github/actions/ghasum
    - name: Audit
      run: go run tasks.go audit-vulnerabilities
