name: Check
on:
  pull_request: ~
  push:
    branches:
    - main

permissions: read-all

jobs:
  build:
    name: Build
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod
    - name: Verify action checksums
      uses: ./.github/actions/ghasum
    - name: Build binary
      run: go run tasks.go build
    - name: Build all release binaries
      run: go run tasks.go build-all
  container:
    name: Container
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        engine:
        - docker
        - podman
    needs:
    - build
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod
    - name: Verify action checksums
      uses: ./.github/actions/ghasum
    - name: Build container with ${{ matrix.engine }}
      run: go run tasks.go container
      env:
        CONTAINER_ENGINE: ${{ matrix.engine }}
    - name: Test run container with ${{ matrix.engine }}
      run: ${CONTAINER_ENGINE} run --rm ericornelissen/ades -help
      env:
        CONTAINER_ENGINE: ${{ matrix.engine }}
  development-image:
    name: Development image
    runs-on: ubuntu-24.04
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod
    - name: Verify action checksums
      uses: ./.github/actions/ghasum
    - name: Build
      run: go run tasks.go dev-img
  format:
    name: Format
    runs-on: ubuntu-24.04
    needs:
    - build
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod
    - name: Verify action checksums
      uses: ./.github/actions/ghasum
    - name: Check source code formatting
      run: go run tasks.go format-check
  reproducible:
    name: Reproducible build
    runs-on: ubuntu-24.04
    needs:
    - build
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod
    - name: Verify action checksums
      uses: ./.github/actions/ghasum
    - name: Check reproducibility
      run: go run tasks.go reproducible
  reproducible-container:
    name: Reproducible container
    runs-on: ubuntu-24.04
    needs:
    - container
    - reproducible
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod
    - name: Verify action checksums
      uses: ./.github/actions/ghasum
    - name: Check reproducibility
      run: go run tasks.go reproducible-container
  reproducible-web:
    name: Reproducible web
    runs-on: ubuntu-24.04
    needs:
    - web
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod
    - name: Verify action checksums
      uses: ./.github/actions/ghasum
    - name: Check reproducibility
      run: go run tasks.go web-reproducible
  test-unit:
    name: Unit test
    runs-on: ubuntu-24.04
    needs:
    - build
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod
    - name: Verify action checksums
      uses: ./.github/actions/ghasum
    - name: Run tests
      run: go run tasks.go test-randomized
  test-dogfeed:
    name: Dogfeed
    runs-on: ubuntu-24.04
    needs:
    - test-unit
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod
    - name: Verify action checksums
      uses: ./.github/actions/ghasum
    - name: Run on this repository
      run: go run tasks.go dogfeed
  test-mutation:
    name: Mutation test
    runs-on: ubuntu-24.04
    needs:
    - test-unit
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod
    - name: Verify action checksums
      uses: ./.github/actions/ghasum
    - name: Run mutation tests
      run: go run tasks.go test-mutation
  test-web:
    name: Web test
    runs-on: ubuntu-24.04
    needs:
    - test-unit
    - web
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod
    - name: Verify action checksums
      uses: ./.github/actions/ghasum
    - name: Run web tests
      run: go run tasks.go web-test
  vet:
    name: Vet
    runs-on: ubuntu-24.04
    needs:
    - build
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod
    - name: Verify action checksums
      uses: ./.github/actions/ghasum
    - name: Vet source code
      run: go run tasks.go vet
  web:
    name: Web
    runs-on: ubuntu-24.04
    needs:
    - build
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: go.mod
    - name: Verify action checksums
      uses: ./.github/actions/ghasum
    - name: Build web app
      run: go run tasks.go web-build
