name: Publish
on:
  push:
    tags:
    - v[0-9]+.[0-9]+

permissions: read-all

jobs:
  docker-hub:
    name: Docker Hub
    runs-on: ubuntu-24.04
    permissions:
      id-token: write # To perform keyless signing with cosign
    environment:
      name: docker
      url: https://hub.docker.com/r/ericornelissen/ades
    steps:
    - name: Checkout repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: go.mod
    - name: Verify action checksums
      uses: ./.github/actions/ghasum
    - name: Install cosign
      uses: sigstore/cosign-installer@v4.0.0
      with:
        cosign-release: v3.0.2
    - name: Install Docker Buildx
      uses: docker/setup-buildx-action@v3.11.1
    - name: Get Go version
      id: go
      shell: bash
      run: |
        version=$(go version | sed -E 's/.*go([0-9]+\.[0-9]+\.[0-9]+).*/\1/')
        echo "version=${version}" >>"$GITHUB_OUTPUT"
    - name: Get release version
      id: version
      shell: bash
      run: |
        echo "version=${GITHUB_REF#refs/tags/}" >>"$GITHUB_OUTPUT"
    - name: Log in to Docker Hub
      uses: docker/login-action@v3.6.0
      with:
        username: ${{ vars.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build and push to Docker Hub
      id: docker
      uses: docker/build-push-action@v6.17.0
      with:
        build-args: GO_VERSION=${{ steps.go.outputs.version }}
        context: .
        file: Containerfile
        push: true
        platforms: >-
          linux/amd64,
          linux/arm64
        tags: >-
          ericornelissen/ades:latest,
          ericornelissen/ades:${{ steps.version.outputs.version }}
    - name: Sign container image
      env:
        DIGEST: ${{ steps.docker.outputs.digest }}
        REF: ${{ github.sha }}
        REPO: ${{ github.repository }}
        WORKFLOW: ${{ github.workflow }}
      run: |
        cosign sign --yes \
          -a "ref=${REF}" \
          -a "repo=${REPO}" \
          -a "workflow=${WORKFLOW}" \
          "docker.io/ericornelissen/ades@${DIGEST}"
  github-release:
    name: GitHub Release
    runs-on: ubuntu-24.04
    permissions:
      attestations: write # To create GitHub Attestations
      contents: write # To create a GitHub Release
      id-token: write # To perform keyless signing with cosign for attestations
    steps:
    - name: Checkout repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false
    - name: Install Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: go.mod
    - name: Verify action checksums
      uses: ./.github/actions/ghasum
    - name: Get release version
      id: version
      shell: bash
      run: |
        echo "version=${GITHUB_REF#refs/tags/}" >>"$GITHUB_OUTPUT"
    - name: Compile
      run: go run tasks.go build-all
    - name: Create GitHub release
      uses: ncipollo/release-action@v1.20.0
      with:
        tag: ${{ steps.version.outputs.version }}
        name: Release ${{ steps.version.outputs.version }}
        body: ${{ steps.version.outputs.version }}
        artifacts: ./_compiled/*
        immutableCreate: true
    - name: Attest build provenance
      uses: actions/attest-build-provenance@v3.0.0
      with:
        subject-path: ./_compiled/*
