name: Semgrep
on:
  pull_request: ~
  push:
    branches:
    - main

permissions: read-all

jobs:
  malicious-code:
    name: Malicious code
    runs-on: ubuntu-24.04
    container:
      image: semgrep/semgrep
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Get malicious code ruleset
      run: |
        git clone https://github.com/apiiro/malicious-code-ruleset.git ../malicious-code-ruleset

        mv ../malicious-code-ruleset/dynamic_execution/go ../dynamic_execution-go || true
        rm -rf ../malicious-code-ruleset/dynamic_execution/*
        mv ../dynamic_execution-go ../malicious-code-ruleset/dynamic_execution/go || true

        mv ../malicious-code-ruleset/obfuscation/go ../obfuscation-go
        rm -rf ../malicious-code-ruleset/obfuscation/*
        mv ../obfuscation-go ../malicious-code-ruleset/obfuscation/go
    - name: Perform malicious code analysis
      run: semgrep --config ../malicious-code-ruleset
  semgrep:
    name: Semgrep
    runs-on: ubuntu-24.04
    permissions:
      security-events: write # To upload SARIF results
    container:
      image: semgrep/semgrep
    steps:
    - name: Checkout repository
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false
    - name: Perform Semgrep analysis
      run: semgrep --sarif --output semgrep.sarif
    - name: Upload Semgrep report to GitHub
      uses: github/codeql-action/upload-sarif@cf1bb45a277cb3c205638b2cd5c984db1c46a412 # v4.31.7
      if: ${{ failure() || success() }}
      with:
        sarif_file: semgrep.sarif
